
## <summary>policy for lamby</summary>


########################################
## <summary>
##	Transition to lamby.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lamby_domtrans',`
	gen_require(`
		type lamby_t, lamby_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lamby_exec_t, lamby_t)
')


########################################
## <summary>
##	Execute lamby server in the lamby domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lamby_initrc_domtrans',`
	gen_require(`
		type lamby_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lamby_initrc_exec_t)
')


########################################
## <summary>
##	Search lamby lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lamby_search_lib',`
	gen_require(`
		type lamby_var_lib_t;
	')

	allow $1 lamby_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read lamby lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lamby_read_lib_files',`
	gen_require(`
		type lamby_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lamby_var_lib_t, lamby_var_lib_t)
')

########################################
## <summary>
##	Manage lamby lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lamby_manage_lib_files',`
	gen_require(`
		type lamby_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lamby_var_lib_t, lamby_var_lib_t)
')

########################################
## <summary>
##	Manage lamby lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lamby_manage_lib_dirs',`
	gen_require(`
		type lamby_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lamby_var_lib_t, lamby_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a lamby environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lamby_admin',`
	gen_require(`
		type lamby_t;
		type lamby_initrc_exec_t;
		type lamby_var_lib_t;
	')

	allow $1 lamby_t:process { ptrace signal_perms };
	ps_process_pattern($1, lamby_t)

	lamby_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lamby_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lamby_var_lib_t)

')

