# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Lamby_Coin
Comment=Lamby_Coin QT test network
GenericName=Lamby_Coin Digital Currency QT client testnet network
Exec=lamby_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/lamby_coin_testnet.png
MimeType=x-scheme-handler/lamby;
Categories=X-Office;X-Finance;
Keywords=internet;lamby_coin;zlamby;tlamby;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=lamby-qt_testnet.desktop
